#调试文件
*.pdb
*.idb
*.ilk

#忽略文件夹
x64/
imgui-docking/
redistributable_bin/linux32/
redistributable_bin/linux64/
redistributable_bin/osx/

SteamGameRunningSimulation/steam/lib/linux32/
SteamGameRunningSimulation/steam/lib/linux64/
SteamGameRunningSimulation/steam/lib/osx/
SteamGameRunningSimulation/steam/lib/win32/

#特定文件
redistributable_bin/steam_api.dll
redistributable_bin/steam_api.lib